.modal{
display:none;
position: fixed;
z-index: 1;
/* left: auto;
top: auto;*/
vertical-align: middle; 
text-align: center;
/* position: absolute; */
width: 60%;
height: 60%;
/* overflow: auto; */
/* background-color: rgba(0,0,0,0.08); */
}

.modal-content{
background-color: #f4f4f4;
margin: 20% auto;
width: 70%;
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.8),0 7px 20px 0 rgb(0,0,0,.5);
animation-name: modalopen;
animation-duration: 0.85s;
}

.modal-header h2{
    margin:0;
}
.modal-header{
background-color: coral;
padding: 15px;
color: #fff;
}

.modal-body{
padding: 10px 20px;
}

.modal-footer{
background-color: coral;
padding: 10px;
color: white;
text-align: center;
}

.closeBtn{
float: right;
color: white;
font-size: 30px;
}

.closeBtn:hover, closeBtn:focus{
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen{
from{ opacity:0}
to {opacity: 1}

}